@using DiagonAlley2._0.Services
@using global::Models.Enum
@using DiagonAlley2._0.Models
@inject MongoDbService Db

<div class="admin-form">

    <h2 class="magic-subtitle">Add Product</h2>

    <div class="form-group">
        <label class="labels">Name</label>
        <input type="text"
               class="input"
               value="@Name"
               @oninput="e => Name = e.Value?.ToString()" />
    </div>

    <div class="form-group">
        <label class="labels">Price</label>
        <input type="text"
               class="input"
               value="@Price"
               @oninput="e => Price = decimal.TryParse(e.Value?.ToString(), out var p) ? p : Price" />
    </div>

    <div class="form-group">
        <label class="labels">Product Type</label>
        <select class="input"
                value="@Type"
                @onchange="e => Type = Enum.Parse<ProductType>(e.Value!.ToString()!)">
            @foreach (var productType in Enum.GetValues<ProductType>())
            {
                <option value="@productType">@productType</option>
            }
        </select>
    </div>
    <div class="divider"></div>

         <ProductTypeFields
            Type="Type"

            Core="Core"
            Length="Length"
            OnCoreChanged="v => Core = v"
            OnLengthChanged="v => Length = v"

            Effect="Effect"
            Duration="Duration"
            OnEffectChanged="v => Effect = v"
            OnDurationChanged="v => Duration = v"

            Speed="Speed"
            Manufacturer="Manufacturer"
            OnSpeedChanged="v => Speed = v"
            OnManufacturerChanged="v => Manufacturer = v" />

    <button class="btn admin-submit" @onclick="SaveProduct">Save Product</button>
    <button class="btn" @onclick="Close"  >Close</button>

</div>

@code {
    private string Name { get; set; } = "";
    private decimal Price { get; set; }
    private ProductType Type { get; set; }

    // Wand
    private string Core { get; set; }
    private int Length { get; set; }

    // Potion
    private string Effect { get; set; }
    private int Duration { get; set; }

    // Broomstick
    private int Speed { get; set; }
    private string Manufacturer { get; set; }


    [Parameter]
    public EventCallback OnClose { get; set; }
    [Parameter] public EventCallback OnProductCreated { get; set; }
    [Inject] ProductService ProductService { get; set; } = default!;

    async Task Close()
    {
        await OnClose.InvokeAsync();
    }

    async Task SaveProduct()
    {
        var product = BuildProduct();

        await ProductService.Create(product);

        await OnProductCreated.InvokeAsync();
        await OnClose.InvokeAsync();
    }

     private Product BuildProduct()
    {
        return new Product
        {
            Name = Name,
            Price = Price,
            Type = Type,

            // Wand
            Core = Type == ProductType.Wand ? Core : null,
            Length = Type == ProductType.Wand ? Length : null,

            // Potion
            Effect = Type == ProductType.Potion ? Effect : null,
            Duration = Type == ProductType.Potion ? Duration : null,

            // Broomstick
            Speed = Type == ProductType.Broomstick ? Speed : null,
            Manufacturer = Type == ProductType.Broomstick ? Manufacturer : null
        };
    }
}
