@using DiagonAlley2._0.Models
@using DiagonAlley2._0.Services
@using global::Models.Enum
@using DiagonAlley2._0.Services.Helper

@inject ProductService ProductService
<ConfirmDialog @ref="ConfirmRef"
               Title="Delete product"
               Message="Are you sure you want to delete this product?"
               OnConfirmed="ConfirmDelete" />

<div class="product-card">

    <img src="@ProductImageHelper.GetImage(Product.Type)"
         alt="@Product.Name"
         class="product-image" />

    <h3>@Product.Name</h3>

    <p class="price">💰 @Product.Price galleons</p>

    @if (Product.Type == ProductType.Wand)
    {
        <p>🪄 Core: @Product.Core</p>
        <p>📏 Length: @Product.Length inches</p>
    }
    else if (Product.Type == ProductType.Potion)
    {
        <p>🧪 Effect: @Product.Effect</p>
        <p>⏳ Duration: @Product.Duration min</p>
    }
    else if (Product.Type == ProductType.Broomstick)
    {
        <p>🧹 Speed: @Product.Speed</p>
        <p>🏭 Maker: @Product.Manufacturer</p>
    }

    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <p class="error">@ErrorMessage</p>
    }


    <div class="product-btn">
        @if (IsAdmin)
        {
            <button class="admin-btn" @onclick="AskDelete">🗑️</button>

            <button class="admin-btn" @onclick="HandleEdit">✏️</button>
        }
        else
        {
            <button class="btn" @onclick="AddToCart">
                Add to cart
            </button>
        }
    </div>

</div>

@code {
    [Parameter, EditorRequired]
    public Product Product { get; set; } = default!;
     private ConfirmDialog? ConfirmRef;
    [Parameter] public bool IsAdmin { get; set; }
    [Parameter] public EventCallback<Product> OnAddToCart { get; set; }
    [Parameter] public EventCallback<Product> OnEdit { get; set; }
    [Parameter] public EventCallback<Product> OnDeleted { get; set; }
 
    private string? ErrorMessage;

   

    async Task AddToCart()
        => await OnAddToCart.InvokeAsync(Product);

    async Task HandleEdit()
        => await OnEdit.InvokeAsync(Product);


    void AskDelete()
    {
        ErrorMessage = null;
        ConfirmRef!.Show();
    }

    async Task ConfirmDelete()
    {
        try
        {
            await ProductService.DeleteAsync(Product.Id!);
            await OnDeleted.InvokeAsync(Product);
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
}
